{% extends 'myapp/base.html' %} 
{% block body %}
<div class="flex p-10">
  <div>
    <img
      src="https://www.pacificfoodmachinery.com.au/media/catalog/product/placeholder/default/no-product-image-400x400.png"
      alt=""
    />
  </div>
  <div class="pl-10">
    <div class="text-4xl mb-4">{{ product.name }}</div>
    <div class="mb-4">{{ product.description }}</div>
    <div class="mb-4 text-green-700 font-bold">${{ product.price }}</div>
    <div>
      <button id="checkout-button" class="bg-green-500 text-white px-4 py-2 rounded-sm">
        Buy
      </button>
    </div>
    <div id="myemail" hidden>{{ request.user.email }}</div>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var stripe = Stripe("{{ stripe_publishable_key }}");
  var checkoutButton = document.getElementById("checkout-button");
  checkoutButton.addEventListener("click", function () {
    console.log("Button clicked");
    var email = document.getElementById("myemail").innerText;

    if (email.length == 0) {
      alert("Please enter your email address");
      return;
    }

    fetch("{% url '' id=product.id %}", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(
        { email: email },
        )
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.sessionId });
      })
      .then(function (result) {
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  });
</script>
{% endblock %}
